* {
	border: ;
}

*body {

	margin: 0;
}

#topbar {
	background-color: gold;
	color: black;
	position: relative;
	height: 6vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	font-size: 18px;
	font-family: New Roman;

}

#topnav {
	background-color: green(150, 180, 240);
	overflow: hidden;

}

#topnav {
	float: left;
	color: gray;
	text-align: center;
	padding: 20px 60px;
	text-decoration: normal;
	font-size: 18px;

}

#topnav a#active {
	background-color: black;
	color: gray;
}

/*#topnav #a:hover {
	background-color: black;
	color: gray;
}*/

#sideMenu {
	max-height: 700px;
	width: 100%;
	background-image: url("20386082.jpg");
	color: #bebebe;
	position: relative;
	overflow: auto;
	font-size: 18px;
	font-family: New Roman;
	background-repeat: repeat;


}

#sideMenu table {
	color: #c3c3c3;
	max-height:400px;
	background-color: rgba(0, 0, 0, 0.64);
	width: auto;
	margin-bottom: 100px;
	padding-bottom: 50px;
}

.view-users {
	width: 100px;
	height: 100%;
	margin: 2% 25%;

}
